:root {
    --vp-font-family-base: '微软雅黑', '苹方-简', '霞鹜文楷 GB 屏幕阅读版', 'Inter var experimental', 'Inter var', 'Inter',
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: 'SF Mono', Menlo, Monaco, Consolas, ui-monospace, SFMono-Regular,'苹方-简', 
        'Liberation Mono', 'Courier New', monospace;
}

:root {
    --vp-code-line-height: 1.7;
    --vp-code-font-size: 0.92em;

    --vp-code-block-color: var(--vp-c-text-light-1);
    --vp-code-block-bg: var(--vp-c-white-soft);
    --vp-code-line-highlight-color: rgba(255, 255, 255);
    --vp-code-line-number-color: var(--vp-c-text-light-2);
}

.dark {
    --vp-code-block-color: var(--vp-c-text-dark-1);
    --vp-code-block-bg: #292d3e;
    --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
    --vp-code-line-number-color: var(--vp-c-text-dark-3);

    --vp-code-block-bg: var(--vp-c-bg-alt);
}